#menu-toggle {
  z-index: 10; /* Ajusta a camada do botão do menu */
}
#menu {
  z-index: 9; /* Ajusta a camada do menu */
}

.navbar {
  background-color: #FFFFFF;
  
}


/* Animação do traço */
.navbar ul li {
  position: relative; /* Adicionando posição relativa para que os elementos ::after se posicionem corretamente */
}

/* Adicionando estilo ao traço */
.navbar ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; /* Ajuste conforme necessário para a posição do traço */
  width: 0;
  height: 2px;
  background-color: white; /* Cor do traço */
  transition: width 0.3s ease; /* Velocidade da animação */
  opacity: 0; /* Inicialmente, o traço está invisível */
}

.navbar ul li:hover::after {
  width: 100%;
  opacity: 1; /* Torna o traço visível ao passar o mouse sobre o item do menu */
}

.color{
  background-color: #FF914D;
}

/* Estilos para a barra de navegação */
.navbar {
  position: fixed; /* Torna a barra de navegação fixa */
  top: 0; /* Ajusta a posição no topo */
  left: 0; /* Ajusta a posição à esquerda */
  width: 100%; /* Define a largura total */
  z-index: 1000; /* Garante que a barra de navegação esteja no topo */
}

/* Estilos para o conteúdo principal */
.main-content {
  padding-top: 80px; /* Ajusta o espaço superior para evitar sobreposição com a barra de navegação */
  /* Adicione mais estilos conforme necessário */
}


.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}


